<!DOCTYPE html>
<html>
<head>
    <title>Logs</title>
</head>
<body>
    <h1>Logs</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Usuário</th>
            <th>Mensagem</th>
            <th>Data/Hora</th>
        </tr>
        <% logs.forEach(log => { %>
        <tr>
            <td><%= log.id %></td>
            <td><%= log.usuario %></td>
            <td><%= log.mensagem %></td>
            <td><%= log.data_hora %></td>
        </tr>
        <% }) %>
    </table>
</body>
</html>